body {    background-color: #727272;
}
h1 {    font-size: 24;
    color: rgb(238, 1, 1);    margin: 10;
    
}
h2 {    font-size: 16;
    color: black;
    text-align: center;    margin: 10;
    padding: 15;}
ul {
    font-size: 14;    margin: 10;
    padding: 15;}
a {
    font-size: 14;    color: royalblue;
    margin: 10;    padding: 10;
}
.content {    display: flex;
    margin: 25;}
.content-right {
    background-color: #FFF9CC;    width: 60%;
    display: flex;    justify-content: center;
    align-items: center;    margin-left: 1%;
    padding: 1%;    border-radius: 40px;
}
.content-left {    border-radius: 40px;
    background-color: #E7FFCC;    width: 40%;
    padding: 1%;
}
.header {    text-align: right;
    margin: 5px;}
.container {
    background-color: rgba(22, 223, 65, 0.695);    justify-content: center;
    display: flex;    height: 300px;
    border-radius: 40px;}

.fixed-image {
    position: fixed; /* Фиксированное позиционирование для картинки */
    bottom: 10px; /* Установка на 10px выше низа */
    right: 10px; /* Установка на 10px от правого края */
}
    
.fixed-image img{
    width: 100px; /* Ширина изображения */
    height: 100px; 
}
.block {    display: flex;
    width: 200px;    height: 200px;
    align-items: center;    background-color: beige;
    border-radius: 40px;
}
.container-2 {    background-color: rgba(224, 17, 190, 0.695);
    align-items: center;    justify-content: center;
    display: flex;    height: 300px;
    border-radius: 40px;}
.block-2 {
    background-color: beige;
    display: flex;    width: 200px;
    height: 200px;
    align-items: center;    border-radius: 40px;
}
.image {
    display: flex;
    width: 500px;
}
.container-3 {    background-color: rgb(188, 228, 12);
    border: 5px solid black;    display: flex;
    width: auto;    flex-wrap: wrap;
    justify-content: space-between;    border-radius: 40px;
}
.block-3 {    margin: 1px;
    background-color: white;    height: 205px;
    width: 205px;    flex-shrink: 0;
    min-width: 100px;    border-radius: 40px;
}
.container-4 {    display: flex;
    background-color: rgb(255, 255, 255);    border: 5px solid black;
    height: 400px;    width: 400px;
    position: relative;    border-radius: 40px;
}
.square1 {    position: absolute;
    width: 100px;    height: 100px;
    border: 3px solid rgb(7, 217, 224);    top: 50px;
    left: 50px;}

.square2 {    position: absolute;
    width: 100px;    height: 100px;
    left: 125px;    bottom: 175px;
    border: 3px solid rgb(255, 0, 0);}
.square3 {
    position: absolute;    width: 100px;
    height: 100px;    bottom: 100px;
    right: 100px;    border: 3px solid rgb(123, 98, 235);
}
.block {    display: flex;
    width: 200px;    height: 200px;
    align-items: center;    background-color: rgb(224, 220, 245);
    border-radius: 40px;
}
